<%= form_with(model:@user, local:true) do |f| %>
    <div>
        <%= f.label :username %>
        <%= f.text_field :username, placeholder:"Enter a username" %> 
    </div>
    <br>
    <div>
        <%= f.label :email %>
        <%= f.email_field :email, placeholder:"Enter a email address" %> 
    </div>
    <br>
    <div>
        <%= f.label :password %>
        <%= f.password_field :password, placeholder:"Enter a password" %> 
    </div>
    <div>
        <%= f.submit(@user.new_record? ? "Sign up": "Update user") %>
    </div>
    
<%end%>
    