<h1 class="text-center mt-4"><%= @user.username %>'s profile page </h1>
<div class="text-center">
    <%=gravatar_for @user %>

    <% if logged_in? && @user==current_user %>
    <div class="mt-4 text-center">
        <%= link_to "Edit Profile", edit_user_path(@user), class:'btn btn-outline-info' %>
    </div>
    <%end%>
    <h3 class="mt-5"><%= @user.username %>'s Articles</h3>
</div>
<%=render 'articles/article' %>
