<div class="mt-2">
<h1><%= t('.forgot_your_password') %></h1>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>


  <div class="form-group">
    <b><%= f.label :email, "Registered Email"%></b>
    <%= f.email_field :email, autofocus: true, autocomplete: 'email', class: 'form-control mt-1' %>
  </div>
  <br>
  <div class="form-group">
    <%= f.submit "Send email", class: 'btn btn-primary' %>
  </div>
<% end %>
</div>
<%= render 'devise/shared/links' %>
